<div class="row">
  <!-- First col -->
  <div class="first-col border-col">
    <input type="text" [(ngModel)]="inputText" (ngModelChange)="onChangeInput($event)">
  </div>
  <!-- Second col -->
  <div class="second-col border-col">
    <select class="" name="" [(ngModel)]="dataType" (ngModelChange)="onChangeInput($event)">
      <option value="0">isPrime</option>
      <option value="1">isFibonacci</option>
    </select>
  </div>
  <!-- Third col -->
  <div class="third-col border-col">
    <p [innerHTML]="isTrue"></p>
  </div>
</div>
