.row {
  display: flex;
  height: 100%
}

.border-col {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  flex: 1;
}

.first-col {
  max-width: 200px;
  min-width: 200px;
}

.second-col {
  min-width: 100px;
}

.third-col {
  max-width: 300px;
  min-width: 300px;
}

@media (min-width: 600) {

}
